#!/usr/bin/env xdg-open
[Desktop Entry]
Name=PicSeek
Exec=/usr/bin/picseek
Type=Application
Categories=Media;Utility;Graphics
Terminal=false
Icon=/usr/share/icons/picseek.svg
StartupWMClass=picseek

